@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


.bg-color-name-title {
    background-color: #676767;
}

header {
    margin: 0;
}

.logo {
    background: url(../images/erdm_klein.jpg) no-repeat left 0% top 10% /cover;
    min-height: 360px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}